@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
 margin:auto;
 overflow: hidden;
  font-family: Roboto, sans-serif; 
}

ul {
  list-style: none
}


.buttons{
display:flex;
justify-content:center;
gap:10px;
margin-top:5px;
font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 19px;
}


.input{
  display: flex;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


img{
  display: block;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;  
}



.header {
  display:flex;
  justify-content:space-between;
 position:absolute;
  width: 100%;
  top: 0;
}


.footer {
  display:flex;
  justify-content:space-between;
  position:absolute;
width: 100%;
bottom: 0;
   background-color: silver;
   background-color:   
 }


.bottomlinks a , .toplinks a {

  text-decoration: none;
  color:black;
}


.bottomlinks {
  display:flex;
  gap:6px;
  padding-right:10px;
}

.toplinks {  
  display:flex;
  gap:10px;
  padding-right:10px;
}








