.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  gap:9px
 }

.logo {
  font-size: 90px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 789px 89px
  gap: 9px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
gap: 5px;
padding: 80px;
}

.right-links {
  display: flex;
  flex-flow: row wrap;
  
}

.left-links {
  display: flex;
  flex-flow: row wrap;
  justify-content:left
  
}


a {
  font-size: 15px;
  background: white;
  padding: 15px;
  

  /* this removes the line under the links */
  text-decoration: none;
  
}